* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
  font-family: "ARS Maquette", "Helvetica Neue", Arial;
}
.nav-bars {
  
  top: 0;
  width: 100%;
  height: 100%;
}
/* Add a black background color to the top navigation */
.small-nav-bar {
  background-color: #000;
  height: 35px;
  top: 0;
  overflow: hidden;
  width: 100%;
  position: fixed;
}
/* Style the links inside the navigation bar */
.small-nav-bar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  font-family: "ARS Maquette", "Helvetica Neue", Arial;
  padding: 10px 12px;
  text-decoration: none;
} 
/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
  height: 100%;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  /* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 12px; 
    font-weight: 400;
    border: none;
    outline: none;
    color: white;
    padding: 12px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  /* Add a dark background on topnav links and the dropdown button on hover */
.small-nav-bar a:hover, .dropdown:hover, .dropbtn:hover {
    font-weight: bold;
    color: white;
  }
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  /*Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }
.main-nav-bar{
  position: fixed;
  height: 45px;
  background-color: white;
  width: 100%;
  margin-top: 35px;
}
.first {
    float: left;
    width: 60%;
    padding-top: 10px;
}
.first a {
    text-decoration: none;
    color: #aaa;
    font-family: Shentox,sans-serif;
    font-size: 12px;
    padding: 15px;
    
}
.first a:hover {
    color: #555;
}
.second {
    float: right;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-left: 1px solid #aaa;
}
.second a {
    text-decoration: none;
    color: orangered;
    font-family: Shentox,sans-serif;
}
.second img {
    width: 130px;
    height: 40px;
}
.second button {
    height: 30px;
    width: 110px;
    background-color: #0cc;
    color: white;
    border-radius: 4px;
    border: 0px solid transparent;
    font-size: 12px;
    font-weight: bold;
}
.second button:hover {
    background-color: purple;
}
.second p{
    font-size: 12px;
    font-family: Shentox,sans-serif;
    color: #555;
}
#hamburger {
  display: none;
}
.empty {
  clear: both;
  height: 80px;
}
.grid-container{
  display: grid;
  width: 100%;
  grid-template-areas:
      "main menu"
      "main footer";
  background-color: #fff;
  grid-template-columns: 65% 35%;
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 10px;
  height: 378px ;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.grid-container h1{
  font-size: 40px;
}
.item-1{
  grid-area: main;
  background: -webkit-linear-gradient(top, rgb(161, 11, 11), rgb(46, 37, 37)); /* Chrome10+, Safari5.1+ */ 
  background: -moz-linear-gradient(top , rgb(161, 11, 11), rgb(46, 37, 37)); /* FF3.6+ */ 
  background: linear-gradient(top , rgb(161, 11, 11), rgb(46, 37, 37)); /* W3C */ 
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  }
.item-2{
  grid-area: menu;
  background: -webkit-linear-gradient(bottom, rgb(219, 98, 17), rgb(241, 239, 239)); /* Chrome10+, Safari5.1+ */ 
  background: -moz-linear-gradient(bottom , rgb(219, 98, 17), rgb(241, 239, 239)); /* FF3.6+ */ 
  background: linear-gradient(bottom , rgb(219, 98, 17), rgb(241, 239, 239)); /* W3C */ 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
.item-3{
  grid-area: footer;
  background: -webkit-linear-gradient(top, rgb(9, 143, 60), rgb(86, 21, 88)); /* Chrome10+, Safari5.1+ */ 
  background: -moz-linear-gradient(top, rgb(9, 143, 60), rgb(86, 21, 88)); /* FF3.6+ */ 
  background: linear-gradient(top, rgb(9, 143, 60), rgb(86, 21, 88)); /* W3C */ 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  
  .main-grid-area{
    width: 70%;
    height: 100%;
    margin: auto;
  }
  .grid-container-1{
    display: grid;
    width: 100%;
    grid-template-areas:
        "second second second second"
        "one two three four"
        "five six seven eight";
    background-color: #fff;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    height: 500px;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
  }
  .item-4 {
    grid-area: second;
    background-color: white;
    color: #f42;
    text-align: start;
    display: flex;
    align-items: flex-end;

  }
  .area-1 {
    grid-area: one;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .area-2 {
    grid-area: two;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.area-3 {
    grid-area: three;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.area-4 {
    grid-area: four;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.area-5 {
    grid-area: five;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.area-6 {
    grid-area: six;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.area-7 {
    grid-area: seven;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.area-8 {
    grid-area: eight;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.item-4 h1 {
    padding-right: 6px;
}
.grid-container-1 img {
    width: 100%;
    height: 100%;
}
.grid-container-2{
  display: grid;
  width: 100%;
  grid-template-areas:
      "third third third third"
      "one two three four";
  background-color: #fff;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
  height: 378px ;
  color: black;
  text-align: start;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}
.grid-container-2 div img{
  height: 200px;
  width: 100%;
}
.aro-1{
  grid-area: third;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
}
.left{
  width: 65%;
  float: left;
  color: #f42;
}
.right{
  display: flex;
  flex-direction: row;
  color: #f42;
  width: 35%;
  float: right;
  align-items: center;
  justify-content: flex-end;
}
.right p{
  font-size: 12px;
  padding: 0px 8px;
  font-weight: 400;
}

#middle{
  border-right: 1px solid #f42; 
  border-left: 1px solid #f42;
}
.grid-container-3{
  display: grid;
  width: 100%;
  grid-template-areas:
      "one-1 two-1 three-1"
      "four-1 five-1 six-1"
      "seven-1 eight-1 nine-1"
      ;
  background-color: #fff;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
  height: 1200px;
  color: black;
  text-align: start;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}
.grid-container-3 img{
  width: 100%;
  height: 200px;
}
.grid-container-3  div h1 {
  color: #f42;
}
.grid-container-3  div i {
  color: #f42;
  padding-left: 4px;
}
.grid-container-3 div {
  margin-bottom: 10px;
}
.grid-container-3 div p {
  margin-top: 10px;
}
.aro-1{ 
  grid-area: third; 
  background-color: white; 
  display: flex; 
  align-items: center; 
} 
.ar-1 {
  grid-area: one-1;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.ar-1 div {
  display: flex;
  flex-direction: row;
}
.ar-2 {
  grid-area: two-1;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.ar-2 div {
  display: flex;
  flex-direction: row;
}
.ar-3 {
  grid-area: three-1;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.ar-3 div {
  display: flex;
  flex-direction: row;
}
.ar-4 {
  grid-area: four-1;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.ar-4 div {
  display: flex;
  flex-direction: row;
}
.ar-5 {
  grid-area: five-1;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.ar-5 div {
  display: flex;
  flex-direction: row;
}
.ar-6 {
  grid-area: six-1;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.ar-6 div {
  display: flex;
  flex-direction: row;
}
.ar-7 {
  grid-area: seven-1;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.ar-7 div {
  display: flex;
  flex-direction: row;
}
.ar-8 {
  grid-area: eight-1;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.ar-8 div {
  display: flex;
  flex-direction: row;
}
.ar-9 {
  grid-area: nine-1;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.ar-9 div {
  display: flex;
  flex-direction: row;
}
.grid-container-4{
  display: grid;
  width: 100%;
  grid-template-areas:
      "fourth fourth fourth fourth"
      "one-2 two-2 three-2 four-2"
      "five-2 six-2 seven-2 eight-2";
  background-color: #fff;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
  height: 100%;
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}
.item-5 h1 {
  padding-right: 6px;
}

.grid-container-4 img {
  width: 100%;
  height: 100%;
}
.item-5 {
  grid-area: fourth;
  background-color: white;
  color: #f42;
  text-align: start;
  display: flex;
  align-items: flex-end;

}
.a-1 {
  grid-area: one-2;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.a-2 {
  grid-area: two-2;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.a-3 {
  grid-area: three-2;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.a-4 {
  grid-area: four-2;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.a-5 {
  grid-area: five-2;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.a-6 {
  grid-area: six-2;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.a-7 {
  grid-area: seven-2;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.a-8 {
  grid-area: eight-2;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer{
  width: 100%;
  background-color: #555;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.footer-1{
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.media{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.media i{
  padding: 0px 15px;
  color: #fff;
}
.list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.list p{
  padding: 0px 15px;
  font-size: 13px;
  color: #aaa;
}
.list p:hover{
  padding: 0px 15px;
  font-weight: 700;
}
.copyright{
  display: flex;
  background-color: #000;
  color: #aaa;
  height: 70px;
  text-align: center;
  font-size: 13px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .small-nav-bar a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .small-nav-bar a.icon {
    float: right;
    display: block;
  }
  .main-grid-area{
    width: 90%;
    margin: auto;
  }
  .grid-container {
         display: block;
  }
    .second button  { 
        display: none;
  }
    .first {
        display: none;
  }
    .second p {
        display: none;
  }
    .second button  { 
        display: none;
  }
    .second {
        border-left: 0px;
  }
    .second img {
        display: none;
  }
    #hamburger {
        display: inline;
        color: #f42;
  }
   .second {
     height: 45px;    
  }
  .grid-container {
      font-size: 13px;
      font-weight: 400;
      height: 100%
  }
  .grid-container h1 {
    font-size: 20px;
  }
  .grid-container div{
    height: 150px;
    width: 90%;
    margin: auto;
  }
  #mag {
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
    padding: 15px 5px 0px 5px;
    height: 100%;
  }
  .main-nav-bar {
    border-bottom: 1px solid #aaa;
  }
  .grid-container-1{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
  .grid-container-1 img{
    width: 30%;
  }
  .grid-container-1 div{
    margin-top: 10px;
  }
  .grid-container-1 p{
    padding-left: 5px;
    text-align: left; 
  }
  .area-1{
    flex-direction: row;
    height: 50px;
  }
  .area-2{
    flex-direction: row;
    height: 50px;  
  }
  .area-3{
    flex-direction: row;
    height: 50px;  
  }
  .area-4{
    flex-direction: row;
    height: 50px;  
  }
  .area-5{
    flex-direction: row;
    height: 50px;  
  }
  .area-6{
    flex-direction: row;
    height: 50px;  
  }
  .area-7{
    flex-direction: row;
    height: 50px;  
  }
  .area-8{
    flex-direction: row;
    height: 50px;  
  }
  .grid-container-2{
    height: 100%;
    font-size: 13px;
    display: block;
    width: 100%;
  }
  .grid-container-2 div img {
    height: 150px;
    width: 100%;
    margin: 8px 0px;
  }
  .grid-container-2 div{
    display: block;
    height: 100%;
  }
  .grid-container-2 .aro-1 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    line-height: 27px;
  }
  #middle {
    border: 0px;
  }
  .grid-container-2 .left {
    font-size: 18px;
    width: 100%;
  }
  .grid-container-3 {
    display: block;
    height: 100%;
  }
  .grid-container-4 {
    display: block;
    height: 100%;
  }
  .grid-container-4 div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
  }
  .grid-container-4 div p{
    text-align: start;
    font-size: 16px;
    
  }
  .grid-container-4 div img {
    margin: 0px 10px 10px 0px;
  }
  .media i {
    padding: 0px 8px;
  }
  .list p {
    padding: 0px 8px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  
  .main-grid-area{
    width: 90%;
    margin: auto;
  }
  .grid-container {
         display: block;
  }
    .second button  { 
        display: none;
  }
    .first {
        display: none;
  }
    .second p {
        display: none;
  }
    .second button  { 
        display: none;
  }
    .second {
        border-left: 0px;
  }
    .second img {
        display: none;
  }
    #hamburger {
        display: none;
  }
   .second {
     height: 45px;    
  }
  .grid-container-1{
    display: grid;
    width: 100%;
    grid-template-areas:
        "second second second"
        "one two three"
        "four five six"
        "seven eight";
    background-color: #fff;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    height: 500px;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    height: 100%;
  }
  .grid-container{
    display: grid;
    width: 100%;
    grid-template-areas:
        "main menu"
        "main footer";
    background-color: #fff;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
    height: 378px ;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
  .grid-container h1{
    font-size: 25px;
  }
}

